# templates/pgbackrest.conf.j2
[global]
repo1-type = s3
repo1-s3-bucket = {{ pgbackrest_repo_s3_bucket | default('pgbackrest-rdbms') }}
repo1-s3-endpoint = {{ pgbackrest_repo_s3_endpoint | default('https://storage.yandexcloud.net/') }}
repo1-s3-region = {{ pgbackrest_repo_s3_region | default('us-east-1') }}
repo1-s3-key = {{ pgbackrest_repo_s3_key | default('') }}
repo1-s3-key-secret = {{ pgbackrest_repo_s3_key_secret | default('') }}
repo1-s3-uri-style = {{ pgbackrest_repo_s3_uri_style | default('host') }}
repo1-s3-verify-tls = {{ pgbackrest_repo_s3_verify_tls | default('y') }}

repo1-retention-full = {{ pgbackrest_retention_full | default(30) }}
#repo1-retention-incremental = {{ pgbackrest_retention_incremental | default(7) }}

[global:archive-push]
compress-level=3