[Unit]
Description=Run pgBackRest backup for {{ pg_ver }}_{{ cluster.pg_name }}-{{ item.type }}
After=postgresql@{{ pg_ver }}-{{ cluster.pg_name }}.service

[Timer]
{{ item.oncalendar }}
Persistent=true

[Install]
WantedBy=timers.target